<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huatek.spring.mapper.UserMapper">
	
  
  <!--查询所有部门1  -->
  <select id="finAllSection" resultType="cn.huatek.spring.entity.Section">
		SELECT DISTINCT
			id,
			sectionname 
		FROM
			t_section
			
  </select>
  
  <!--根据部门名称查询每个部门中的用户2  -->
  <select id="finAllUserBysectionname" resultType="java.util.Map">
		SELECT
			s.sectionname,
			c.empname 
		FROM
			t_section s
			JOIN card_records c ON s.id = c.sid
			where s.sectionname=#{sectionname}
			GROUP BY empname
			
  </select>
  
  <select id="finAll" resultType="java.util.Map">
		SELECT
			DAYNAME( entrytime ) week,
			MAX( DATE_FORMAT( entrytime, '%H:%i:%s' ) ) MaxTime,
			MIN( DATE_FORMAT( entrytime, '%H:%i:%s' ) ) MinTime,
			empname,
			DATE_FORMAT( entrytime, '%Y-%m' ) date,
			DATE_FORMAT( entrytime, '%d' ) day 
		FROM
			card_records 
		WHERE
			empname =#{empname} 
		GROUP BY
		    day
			
  </select>
  
  
</mapper>





